﻿@using CLIQ_UE.ViewModels
  @model ProfileViewModel


@{

    Layout = "_ProfileLayout";
}


<!-- ! Navbar -->
<div class="row">
    <div class="col-12">
        <nav>
            <div class="nav-content">
                <a class="logo" asp-action="Index" asp-controller="HomePage">Clique <i class="fa-solid fa-people-group"></i></a>
                <div class="search-bar">
                    <i class="fa-solid fa-magnifying-glass search-icon"></i>
                    <input type="text" class="search-input" placeholder="Search" />
                </div>

                <div class="right-items">
                    <div class="items">

                        <div class="notification-container" id="notification-container">
                            <div class="notification">
                                <i class="fa-solid fa-bell" id="notification-icon"></i>
                                @if (Model.newNotificationCount > 0)
                                {
                                    <span style="display:block" class="notification-count">@Model.newNotificationCount</span>

                                }
                                <span style="display:none" class="notification-count">0</span>

                            </div>

                            <!-------------------------------------------  Notifications ------------------------------------------------------------>
                            <div class="notification-list">

                                 @*              <div class="notification-item">
                                 <img src="@Model.UserImage" alt="User 1" class="user-avatar">
                                 <div class="notification-details">
                                 <span class="user-name"><strong>User 1</strong></span>
                                 <span class="notification-text">commented on your post . <strong>5h ago</strong></span>
                                 </div>
                                 </div> *@




                            </div>
                        </div>


                        <div class="home ">
                            <a asp-action="Index" asp-controller="HomePage"><i class="fa-solid fa-house active-link"></i></a>
                        </div>

                        <div class="messages">
                            <a href="/chat"><i class="fa-solid fa-envelope"></i></a>
                        </div>

                        <div class="profile-box" id="profile-box">
                            <div class="profile-pic"><img src="@Model.UserImage" alt="Profile image"></div>
                            <div class="profile-name">
                                @Model.UserName
                                <i class="fa-solid fa-caret-down"></i>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu">
                                <div class="dropdown-item" data-action="profile"><i class="fa-solid fa-user"></i> Profile</div>
                                <div class="dropdown-item" data-action="chat"><a asp-action="index" asp-controller="chat"><i class="fa-solid fa-comments"></i> Chat</a></div>
                                <div class="dropdown-item" data-action="settings"><i class="fa-solid fa-cog"></i> Settings</div>
                                <div class="dropdown-item" data-action="group"><i class="fa-solid fa-users"></i> Group</div>
                                <div class="dropdown-item logout" data-action="logout"><a asp-action="Logout" asp-controller="Account"><i class="fa-solid fa-sign-out"></i> Logout</a></div>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>

    <div class="container-fluid">

        <!-- * ---------------------------------------------------------------- -->
    <!-- ! Content -->
    <div class="row mt-3">
        <!-- *! Left Content !*-->
        <div class="col-lg-3 col-md-4 d-none left-content-container fixed d-md-flex justify-content-center">
            <div class="left-boxes">
                <div class="links-container">
                    <div class="link active-link">
                        <i class="fa-solid fa-house"></i>
                        <a href="#" class="home">Home</a>
                    </div>
                    <div class="link">
                        <i class="fa-solid fa-comments"></i>
                        <a href="/chat" class="chat">Chat</a>
                    </div>
                    <div class="link">
                        <i class="fa-solid fa-user-group"></i>
                        <a href="#" class="group">Group</a>
                    </div>
                    <div class="link">
                        <i class="fa-solid fa-gears"></i>
                        <a href="#" class="Settings">Settings</a>
                    </div>
                </div>


                <div class="links-container">
                    <div class="link">
                        <i class="bi bi-bookmark-fill bookmark-icon"></i>
                        <a class="Bookmark-btn">BookMark</a>
                    </div>
                    <div class="link">
                        <i class="bi bi-patch-check-fill"></i>
                        <a href="#">Get Verified</a>
                    </div>
                    <div class="link">
                        <img class="profile-pic" src="@Model.UserImage" alt="" />
                        <a asp-action="Index" asp-controller="Profile">@@@Model.UserName</a>
                    </div>
                </div>



                <p class="Explore">Explore</p>

                <div class="links-container">
                    <div class="link">
                        <i class="fa-solid fa-hand-holding-dollar"></i>
                        <a href="#">Offer</a>
                    </div>
                    <div class="link">
                        <i class="fa-solid fa-user-doctor"></i>
                        <a href="#">Jobs</a>
                    </div>

                    <div class="link">
                        <i class="fa-solid fa-store"></i>
                        <a href="#">Market Place  </a>
                    </div>
                    <div class="link">
                        <i class="fa-solid fa-square-parking"></i>
                        <a href="#">Pages</a>
                    </div>
                </div>
            </div>
        </div>

        <!--* Main Context  *******************************************-->


        <div class="col-lg-9 col-md-7 col-12 main-content-container  justify-content-center">
            <div class="px-4 pt-0 pb-4 position-relative col-12 cover" style="height: 30vh;">
                <img src="/images/@Model.CoverImage" alt="Cover Image" class="img-fluid">

                <div class="media align-items-end profile-head px-4 d-flex position-absolute w-100 bottom-0">
                    <div class="profile mr-3">
                        <img src="@Model.UserImage" alt="Profile Image" class="mb-2 profile-image">
                        <div class="media-body text-white">
                            <h4>@Model.FirstName @Model.LastName <i class="bi bi-patch-check-fill text-primary"></i></h4>
                        </div>
                        <button class="btn btn-primary btnedit">Edit Profile</button>
                    </div>
                </div>
            </div>



        </div>
        <div class="col-lg-5 col-md-7 col-12 main-content-container justify-content-center bio-section">
            <div class="bio-content">
                <div class="bio-text">
                    <p>TEST BIO..........</p>
        
                </div>
                <div class="bio-info">
                    <p class="location"><i class="bi bi-geo-alt-fill"></i> @Model.Location </p>
                    <p class="location"><i class="bi bi-file-post"></i><span>@Model.PostCount</span> Posts </p>
                    <p class="Following"><i class="bi bi-person-plus"></i> <span>@Model.FollowingCount</span>  Followers</p>
                    <p class="Followers"><i class="bi bi-person-plus-fill"></i> <span>@Model.FollowersCount</span>  Following</p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-12 main-content-container d-flex justify-content-center">

            <div class="add-post">
                <div class="box">

                    <form method="post" id="postForm" enctype="multipart/form-data" class="add-post-form">

                        <input type="hidden" name="PostDate" id="postedTime" />

                        <div class="write-text">
                            <img class="profile-pic" src="@Model.UserImage" alt="">
                            <textarea name="postContent" id="write-post-text" cols="30" rows="1" placeholder="What's on your mind? (200 words)" maxlength="200"></textarea>
                            <p id="char-count" class="char-count">200</p>
                        </div>
                        <div class="post-img">
                            <img class="add-post-img" src="" alt="">
                        </div>
                        <div class="bottom-btns">
                            <div class="left">
                                <i class="fa-solid fa-face-smile emoji-btn"></i>
                                <i class="fa-solid fa-hashtag hash-btn"></i>
                                <label for="add-img-post" class="add-post-pic-label">
                                    <!-- Label to trigger file input -->
                                    <i class="fa-solid fa-images img-btn"></i>
                                </label>

                                <input type="file" id="add-img-post" name="PostImage" accept="image/*,video/*" style="opacity:0; width:0;height:0">
                                <div class="post-privacy">
                                    <div class="dropdown">
                                        <a style="text-decoration: none; color: inherit; font-weight: 500;" class="dropdown-toggle" id="privacyDropdown" aria-expanded="false">
                                            <i class="fa-solid fa-earth-americas"></i>
                                            <span>Public</span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="privacyDropdown">
                                            <li data-value="public"><i class="fa-solid fa-earth-americas"></i> Public</li>
                                            <li data-value="friends"><i class="fa-solid fa-users"></i> Followers</li>
                                            <li data-value="private"><i class="fa-solid fa-lock"></i> Only me</li>
                                        </ul>
                                        <input type="hidden" name="privacyValue" id="selected-privacy" value="Public">
                                    </div>
                                </div>
                            </div>
                            <div class="right">
                                <button type="submit" class="post-btn">Post</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <div class="timeline">
                <ul>
                    <li class="list " data-filter="ALL">Timeline</li>
                    <li class="list" data-filter="Photos">Photos</li>

                </ul>
            </div>

            <div class="posts-container" style="width: 90%;">
              

            </div>
                <!--Left Container -->
            <div class="col-lg-3 d-lg-block d-md-none right-content-container  d-lg-flex justify-content-center parent">
                    <div class="left-boxes">
                        <div class="leeft col-lg-12">
                            <div class="link active-link ">
                                <h2 class="h5 text-start">Complete Your Profile</h2>
                                <hr>
                                <div class="line mt-3">
                                </div>
                                <div class="progress my-3" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 70%; height: 5px;" aria-valuenow="70"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                                <ul class="list-unstyled text-start">
                                    <li class="text-secondary">
                                        Set User Name <i class="fa-solid fa-check-double ms-3 text-primary"></i>
                                    </li>
                                    <li class="mt-3 text-secondary">
                                        Set User Name <i class="fa-solid fa-check-double ms-3 text-primary"></i>
                                    </li>
                                    <li class="mt-3 text-secondary">
                                        Set User Profile Picture <i class="fa-solid fa-check-double ms-3 text-primary"></i>
                                    </li>
                                    <li class="mt-3 fw-semibold">Set Your Cover Profile</li>
                                    <li class="mt-3 fw-semibold">Set Your Location Info </li>
                                </ul>
                            </div>
                        </div>

                        <br />
                        <br />


                    </div>
                </div>


        </div>
    </div>


    <div class="modal fade" id="show_comments" tabindex="-1" aria-labelledby="show_commentsLabel" aria-hidden="true">

        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="show_commentsLabel">Comments</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="commentsModal" class="modal-body">


                    <div class="comment">
                        <div class="profile">
                            <img class="profile-pic" src="~/HomePage/images/giphy.gif" alt="Profile image">
                            <div class="name">
                                <p class="username">moudy rasmy</p>
                                <p class="comment-time">1 hour ago</p>
                            </div>
                        </div>
                        <div class="comment-content">
                            <p class="comment-text">This is a comment.</p>
                        </div>
                        <div class="love-icon">
                            <i class="fa-solid fa-heart like-icon"></i>
                            <span>12</span>
                        </div>
                    </div>

                    @*
                    <div class="comment">
                    <div class="profile">
                    <img class="profile-pic" src="~/HomePage/images/giphy.gif" alt="Profile image">
                    <div class="name">
                    <p class="username">moudy rasmy</p>
                    <p class="comment-time">1 hour ago</p>
                    </div>
                    </div>
                    <div class="comment-content">
                    <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, voluptates vero voluptatibus placeat, necessitatibus mollitia similique impedit quasi minima culpa magni, nulla sapiente ex non. Illo sequi tempora laboriosam impedit..</p>
                    </div>
                    <div class="love-icon">
                    <i class="fa-solid fa-heart like-icon"></i>
                    <span>12</span>
                    </div>
                    </div>
                    *@
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- ====================  Model Of Followers and Following list ===================================-->
    <div class="modal fade" id="show_followes_list" tabindex="-1" aria-labelledby="show_commentsLabel" aria-hidden="true">
        <input type="hidden" value="@Model.userId" id="CurrentUserID">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-primary" id="show_commentsLabel"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="FollowersModal" class="modal-body">
                    <!-- Iterate over the list of users -->

                    <div class="user">
                        <h1>THER IS NO FOLLOWERS</h1>
                    </div>

                </div>
       @*          <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div> *@
            </div>
        </div>
    </div>

    <!-- ====================  Model Of Show saved Posts ===================================-->
    <div class="modal fade" id="show_bookmarks_list" tabindex="-1" aria-labelledby="show-bookmarks" aria-hidden="true">
        <input type="hidden" value="@Model.userId" id="CurrentUserID">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-primary" id="show-bookmarks">Saved Posts</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="bookMarksModal" class="modal-body">
                    <div class="posts-container saved-posts-container">
                        <!--All posts-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====================================================================================================================-->

