﻿@using CLIQ_UE.ViewModels
  @model HomePageViewModel


@{

    Layout = "_HomePageLayout";
}


<!-- ! Navbar -->
<div class="row">
    <div class="col-12">
        <nav>
            <div class="nav-content">
                <a class="logo" href="#">Clique <i class="fa-solid fa-people-group"></i></a>
                <div class="search-bar">
                    <i class="fa-solid fa-magnifying-glass search-icon"></i>
                    <input type="text" class="search-input" placeholder="Search" />
                </div>

                <div class="right-items">
                    <div class="items">

                        <div class="notification-container" id="notification-container">
                            <div class="notification">
                                <i class="fa-solid fa-bell" id="notification-icon"></i>
                                <span class="notification-count">9+</span>
                            </div>
                            <div class="notification-list">

                                <div class="notification-item">
                                    <img src="@Model.UserImage" alt="User 1" class="user-avatar">
                                    <div class="notification-details">
                                        <span class="user-name"><strong>User 1</strong></span>
                                        <span class="notification-text">commented on your post . <strong>5h ago</strong></span>
                                    </div>
                                </div>


                                <div class="notification-item">
                                    <img src="@Model.UserImage" alt="User 1" class="user-avatar">
                                    <div class="notification-details">
                                        <span class="user-name"><strong>User 2</strong></span>
                                        <span class="notification-text">commented on your post  <strong>5h ago</strong></span>
                                    </div>
                                </div>


                                <div class="notification-item">
                                    <img src="@Model.UserImage" alt="User 1" class="user-avatar">
                                    <div class="notification-details">
                                        <span class="user-name"><strong>User 1</strong></span>
                                        <span class="notification-text">commented on your post . <strong>a Week ago</strong></span>
                                    </div>
                                </div>


                                <div class="notification-item">
                                    <img src="@Model.UserImage" alt="User 2" class="user-avatar">
                                    <div class="notification-details">
                                        <span class="user-name"><strong>User 2</strong></span>
                                        <span class="notification-text">commented on your post  <strong>5 ago</strong></span>
                                    </div>
                                </div>


                            </div>
                        </div>


                        <div class="home ">
                            <a href="#"><i class="fa-solid fa-house active-link"></i></a>
                        </div>

                        <div class="messages">
                            <a href="#"><i class="fa-solid fa-envelope"></i></a>
                        </div>

                        <div class="profile-box" id="profile-box">
                            <div class="profile-pic"><img src=@Model.UserImage alt="Profile image"></div>
                            <div class="profile-name">
                                @Model.UserName
                                <i class="fa-solid fa-caret-down"></i>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu">
                                <div class="dropdown-item" data-action="profile"><i class="fa-solid fa-user"></i> Profile</div>
                                <div class="dropdown-item" data-action="chat"><i class="fa-solid fa-comments"></i> Chat</div>
                                <div class="dropdown-item" data-action="settings"><i class="fa-solid fa-cog"></i> Settings</div>
                                <div class="dropdown-item" data-action="group"><i class="fa-solid fa-users"></i> Group</div>
                                <div class="dropdown-item logout" data-action="logout"><a asp-action="Logout" asp-controller="Account"><i class="fa-solid fa-sign-out"></i> Logout</a></div>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>



<div class="container-fluid">

    <!-- * ---------------------------------------------------------------- -->
    <!-- ! Content -->
    <div class="row mt-3">
        <!-- *! Left Content !*-->
        <div class="col-lg-3 col-md-4 d-none left-content-container fixed d-md-flex justify-content-center">
            <div class="left-boxes">
                <div class="links-container">
                    <div class="link active-link">
                        <i class="fa-solid fa-house"></i>
                        <a href="#" class="home">Home</a>
                    </div>
                    <div class="link">
                        <i class="fa-solid fa-comments"></i>
                        <a href="#" class="chat">Chat</a>
                    </div>
                    <div class="link">
                        <i class="fa-solid fa-user-group"></i>
                        <a href="#" class="group">Group</a>
                    </div>
                    <div class="link">
                        <i class="fa-solid fa-gears"></i>
                        <a href="#" class="Settings">Settings</a>
                    </div>
                </div>


                <div class="links-container">
                    <div class="link">
                        <i class="fa-solid fa-wallet"></i>
                        <a href="#">Walt</a>
                    </div>
                    <div class="link">
                        <i class="fa-solid fa-diagram-project"></i>
                        <a href="#">My Products</a>
                    </div>
                    <div class="link">
                        <img class="profile-pic" src="@Model.UserImage" alt="" />
                        <a href="#">@@@Model.UserName</a>
                    </div>
                </div>



                <p class="Explore">Explore</p>

                <div class="links-container">
                    <div class="link">
                        <i class="fa-solid fa-hand-holding-dollar"></i>
                        <a href="#">Offer</a>
                    </div>
                    <div class="link">
                        <i class="fa-solid fa-user-doctor"></i>
                        <a href="#">Jobs</a>
                    </div>

                    <div class="link">
                        <i class="fa-solid fa-store"></i>
                        <a href="#">Market Place</a>
                    </div>
                    <div class="link">
                        <i class="fa-solid fa-square-parking"></i>
                        <a href="#">Pages</a>
                    </div>
                </div>
            </div>
        </div>

        <!--* Main Context  *******************************************-->
        <div class="col-lg-6 col-md-8 col-12 main-content-container d-flex justify-content-center">
            <div class="container-box">
                <div class="add-post">
                    <div class="box">

                        <form method="post" id="postForm" enctype="multipart/form-data" class="add-post-form">

                            <input type="hidden" name="PostDate" id="postedTime" />

                            <div class="write-text">
                                <img class="profile-pic" src="@Model.UserImage" alt="">
                                <textarea name="postContent" id="write-post-text" cols="30" rows="1" placeholder="What's on your mind"></textarea>
                            </div>
                            <div class="post-img">
                                <img class="add-post-img" src="" alt="">
                            </div>
                            <div class="bottom-btns">
                                <div class="left">
                                    <i class="fa-solid fa-face-smile emoji-btn"></i>
                                    <i class="fa-solid fa-hashtag hash-btn"></i>
                                    <label for="add-img-post" class="add-post-pic-label">
                                        <!-- Label to trigger file input -->
                                        <i class="fa-solid fa-images img-btn"></i>
                                    </label>

                                    <input type="file" id="add-img-post" name="PostImage" accept="image/*,video/*" style="opacity:0; width:0;height:0">
                                    <div class="post-privacy">
                                        <div class="dropdown">
                                            <a style="text-decoration: none; color: inherit; font-weight: 500;" class="dropdown-toggle" id="privacyDropdown" aria-expanded="false">
                                                <i class="fa-solid fa-earth-americas"></i>
                                                <span>Public</span>
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="privacyDropdown">
                                                <li data-value="public"><i class="fa-solid fa-earth-americas"></i> Public</li>
                                                <li data-value="friends"><i class="fa-solid fa-users"></i> Friends</li>
                                                <li data-value="private"><i class="fa-solid fa-lock"></i> Private</li>
                                            </ul>
                                            <input type="hidden" name="privacyValue" id="selected-privacy" value="Public">
                                        </div>
                                    </div>
                                </div>
                                <div class="right">
                                    <button type="submit" class="post-btn">Post</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>



                <div class="posts-container">



                    

                    <!-- ! ===================================  ! -->
                </div>
            </div>

        </div>

        <!--*! Right Content !***************************************-->
        <div class="col-lg-3 d-none right-content-container  d-lg-flex justify-content-center">
            <div class="right-boxes">

                <div class="links-container box-1">
                    <p>Complete Your Profile</p>

                    <progress value="50" max="100"></progress>

                    <p class="complete-progress">verifiy your email <span class="checked">✓✓</span></p>
                    <p>set your username <span class="checked">✓✓</span> </p>
                    <p>set your profile pictuer <span class="checked">✓✓</span> </p>
                </div>

                <div class="links-container box-with-two-cols">
                    <div class="header">
                        <div class="left">
                            <img src="~/HomePage/images/fire.svg" alt="Fire svg">
                            <p>Trending</p>
                        </div>
                        <a href="#">See more</a>
                    </div>

                    <div class="box-row">
                        <p>#Cliuqe</p>
                        <div class="follow">
                            <a href="#"><i class="fa-solid fa-circle-plus"></i> Fllow</a>
                        </div>

                    </div>


                    <div class="box-row">
                        <p>#Metaverse</p>
                        <div class="follow">
                            <a href="#"><i class="fa-solid fa-circle-plus"></i> Fllow</a>
                        </div>
                    </div>

                </div>

                <div class="links-container box-with-two-cols friends-box">
                    <div class="header">
                        <div class="left">
                            <i class="fa-solid fa-user-group Friends-icon"></i>
                            <p>Friends Suggesttion</p>
                        </div>
                        <a href="#">See more</a>
                    </div>

                    <div class="box-row">
                        <div class="profile">
                            <img src="~/HomePage/images/3.jpg" alt="profile pictuer">
                            <p>Moudy Rasmy</p>
                        </div>
                        <div class="follow">
                            <a href="#"><i class="fa-solid fa-circle-plus"></i> Fllow</a>
                        </div>
                    </div>


                    <div class="box-row">
                        <div class="profile">
                            <img src="~/HomePage/images/6.jpg" alt="profile pictuer">
                            <p>Mahmoud salah</p>
                        </div>
                        <div class="follow">
                            <a href="#"><i class="fa-solid fa-circle-plus"></i> Fllow</a>
                        </div>
                    </div>

                </div>
                <div class="links-container box-with-two-cols group-box">
                    <div class="header">
                        <div class="left">
                            <i class="fa-solid fa-user-group Friends-icon"></i>
                            <p>Groups</p>
                        </div>
                        <a href="#">See more</a>
                    </div>

                    <div class="box-row">
                        <div class="profile">
                            <img src="~/HomePage/images/3.jpg" alt="profile pictuer">
                            <p>Kersh Kepers</p>
                            <span class="joins-number">3M Member</span>
                        </div>
                        <div class="follow">
                            <a href="#"><i class="fa-solid fa-circle-plus"></i> Join</a>
                        </div>
                    </div>


                    <div class="box-row">
                        <div class="profile">
                            <img src="~/HomePage/images/fire.svg" alt="profile pictuer">
                            <p>ITI-Assiut</p>
                            <span class="joins-number">25k Member</span>

                        </div>
                        <div class="follow">
                            <a href="#"><i class="fa-solid fa-circle-plus"></i> Join</a>
                        </div>
                    </div>

                </div>



            </div>
        </div>
    </div>
    <!-- * ---------------------------------------------------------------- -->
</div>


<!--  -->
<!-- Modal -->
<div class="modal fade" id="show_comments" tabindex="-1" aria-labelledby="show_commentsLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="show_commentsLabel">Comments</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="commentsModal" class="modal-body">


                <div class="comment">
                    <div class="profile">
                        <img class="profile-pic" src="~/HomePage/images/giphy.gif" alt="Profile image">
                        <div class="name">
                            <p class="username">moudy rasmy</p>
                            <p class="comment-time">1 hour ago</p>
                        </div>
                    </div>
                    <div class="comment-content">
                        <p class="comment-text">This is a comment.</p>
                    </div>
                    <div class="love-icon">
                        <i class="fa-solid fa-heart like-icon"></i>
                        <span>12</span>
                    </div>
                </div>


                <div class="comment">
                    <div class="profile">
                        <img class="profile-pic" src="~/HomePage/images/giphy.gif" alt="Profile image">
                        <div class="name">
                            <p class="username">moudy rasmy</p>
                            <p class="comment-time">1 hour ago</p>
                        </div>
                    </div>
                    <div class="comment-content">
                        <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, voluptates vero voluptatibus placeat, necessitatibus mollitia similique impedit quasi minima culpa magni, nulla sapiente ex non. Illo sequi tempora laboriosam impedit..</p>
                    </div>
                    <div class="love-icon">
                        <i class="fa-solid fa-heart like-icon"></i>
                        <span>12</span>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    function getPostComments(postId) {
        console.log(postId);
        console.log("Post id" + postId);
        console.log("Get Post Comments");
        $('#commentsModal').html("");
        $.ajax({
            url: `/comments/getComments?postId=` + postId, // Endpoint URL
            type: 'GET',
            //data: { postId: postId, commentText: commentText }, // Include the postId and commentText parameters
            success: function (response) {
                // Handle the success response from the server
                console.log('AJAX request successful');
                console.log(response);
                let a = ``;
                $('#commentsModal').append(a);
                for (let comment of response) {
                    let profileImage = @Url.Content("~/images/");
                    profileImage += comment.user.profileImage;
                    console.log(comment);
                    console.log(profileImage);
                    a = `<div id="${comment.commentId}" class="comment">
                                        <div class="profile">
                                                        <img class="profile-pic" src=${profileImage} alt="Profile image">
                                            <div class="name">
                                                        <p class="username">${comment.user.firstName} ${comment.user.lastName}</p>
                                                <p class="comment-time">1 hour ago</p>
                                            </div>
                                        </div>
                                        <div class="comment-content">
                                            <p class="comment-text">${comment.commentText}</p>
                                        </div>
                                        <div class="love-icon">
                                            <i id="likeIcon${comment.commentId}" class="fa-solid fa-heart like-icon" style="color: grey" onclick="likeComment(${comment.commentId})"></i>
                                            <span>${comment.likeCount}</span>
                                        </div>
                                    </div>`
                    $('#commentsModal').append(a);
                }
                $('#show_comments').modal('show');
            },
            error: function (xhr, status, error) {
                // Handle errors
                console.error('AJAX request failed');
                console.error(xhr.responseText);
            }
        });
    }






    function addNewComment(PostId) {
        console.log("Works");
        //var postId = $('#postId').val(); // Get the postId value from the hidden input field
        var commentText = $(`#postId` + PostId).val(); // Get the commentText value from the input field
        //var Image = $("#Image").val();
        console.log(commentText);
        
        if (commentText == "")
        console.log(PostId);
        $.ajax({
            url: `/comments/newcomment?postId=${PostId}&CommentText=${commentText}`, // Endpoint URL
            type: 'POST',
            //data: { postId: PostId, commenttext: commentText }, // Include the postId and commentText parameters

            success: function (response) {
                // Handle the success response from the server
                console.log('AJAX request successful');
                console.log(response);
            },
            error: function (xhr, status, error) {
                // Handle errors
                console.error('AJAX request failed');
                console.error(xhr.responseText);
            }
        });
    }

</script>